.list-element{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 992px;
    height: 99px;
    border-bottom: 1px solid #d9d9d9;
}

.element{
    padding: 30px;
    width : 100px;
    height: 30px;
    font-weight: 600;
    line-height: 30px;
    font-size: 15px;
}

.list-element:hover{
    background-color: #f9f9f9;
}