tbody tr {
  border-bottom: 1px solid;
  border-color: #d9d9d9;
  font-weight: 600;
  font-size: 27px;
}
tbody tr:hover {
  cursor: pointer;
}

tbody tr:last-child {
  border-bottom: 0px solid;
}

td {
  padding: 2.5rem;
}

tbody tr:last-child td {
  padding-bottom: 0px;
}