.register{
    position: absolute;
    width:100%;
}

.register-text{
    position: absolute;
    top: 440px;
    left: 153px;
    flex-direction: column;
    width: 50%;
}
.register-btn{
    position: absolute;
    top: 363px;
    left : 169px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border:none;
    width : 50px;
    height : 50px;
    cursor: pointer;
}
.register-btn-img{
    width : 50px;
    height : 50px;
}
.register-column{
    display: flex;
}
.register-element{
    height : auto;
    padding: 30px;
}

.register-seat:hover{
    cursor: pointer;
}

.register-time:hover{
    cursor: pointer;
}

.from-clock{
    font-size: 22px;
    font-weight: 800;
}

.from-date{
    font-size: 13px;
    color: #7d7d7d;
}

.seat-title{
    font-size: 22px;
    font-weight: 800;
}

.seat-place{
    font-size: 13px;
    color: #7d7d7d;
}

.person-count{
    font-size: 22px;
    font-weight: 800;
}