header{
    display: flex;
    justify-content: space-between;
}

.main-logo{
position: relative;
top : 65px;
left : 80px;
width: 114px;
height: 26px;
}

.dummy{
padding : 30px;
width: 100px;
height: 24px;
}

