.navbar{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

li{
    list-style: none;
    
}

.navbar-div{
    margin-top : 48px;
    
    width : 355px;
    height : 38px;
}

